@model Partikkels.Models.LVS_Table_final

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>LVS_Table_final</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaalestedId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaalestedId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Maalested)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Maalested)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatoMaerke)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatoMaerke)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StofId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StofId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StofNavn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StofNavn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnhedId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnhedId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Enhed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Enhed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Resultat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Resultat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UdstyrId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UdstyrId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Navn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Navn)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
